replicaCount: 2

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []


image:
  repository: 315510/flask_final_project
  pullPolicy: Always
  tag: dev

service:
  type: NodePort
  port: 8000


config:
  FLASK_ENV: dev
  DEBUG: "false"


resources:
  requests:
    cpu: 100m
  limits:
    cpu: 500m

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50

httpRoute:
  enabled: false

serviceAccount:
  create: true
  name: ""
  automount: true
  annotations: {}

prometheus:
  enabled: true

kubeControllerManager:
  enabled: true
kubeScheduler:
  enabled: true
kubeApiServer:
  enabled: true
kubeEtcd:
  enabled: true
kubelet:
  enabled: true
kubeProxy:
  enabled: true

